<div class="grid-container fluid" style="margin-top: 60px">
  <div class="grid-x">
    <div class="cell small-2" id="empty-cell"></div>
    <div class="cell small-8" id="jobs-available-outer-container" style="height: 550px">
      <div id="jobs-title">
        <h3 style="padding:4px; color:rgb(46,185,94)">Current Gigs Available:</h3>
      </div>
      <div class="jobs-available-container">
        {{#each jobs}}
        <div class="grid-x">
          <div class="cell small-11">
            <div id="each-job">
              <a data-id="{{this.id}}" href="jobsAvailable/{{this.id}}">
                <p style="border: 1px solid grey; padding: 4px; border-radius: 4px">
                  {{this.name}}</p>
              </a>
            </div>
          </div>
          <div class="cell small-1">
            <i class="fas fa-trash" id="trash"></i>
          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>
  <div class="cell small-2" id="empty-cell"></div>
</div>