<body>
  <!-- Top Navbar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <h1 style="font-family: SignPainter; color: rgb(46,185,94); background-color: white">Get-A-Gig</h1>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <input type="search" placeholder="Search">
        </li>
        <li>
          <button type="button" class="button">Search</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- Jobs Available -->
  <div class="grid-container fluid" style="margin-top: 60px">
    <div class="grid-x">
      <div class="cell small-2" id="empty-cell"></div>
      <div class="cell small-8" style="border: 2px solid grey; border-radius: 4px; background-color: white">
        <div id="jobs-title">
          <h3 style="padding:4px; color:rgb(46,185,94)">Current Gigs Available in '
            <span id="jobs-available-category">All</span>'</h3>

        </div>
        <div class="jobs-available-container" style="border:2px solid lightgray; margin:5px; border-radius: 4px; background-color: white">
          {{#each jobs}}
          <div class="each-job" style="padding:6px">
            <p style="border: 1px solid grey; padding: 4px; border-radius: 4px">
              <span class="label">Job Name:</span>{{this.name}}</p>
            <a data-id="{{this.id}}" class="button success small" id="interest-btn" style="border-radius: 4px" href="jobsAvailable/{{this.id}}">Interested</a>
          </div>
          {{/each}}
        </div>

      </div>
    </div>
    <div class="cell small-2" id="empty-cell"></div>
  </div>
  </div>
</body>