body {
    background-image: url(https://media.gettyimages.com/vectors/newspaper-background-vector-id852825734);
}

#title {

    box-sizing: border-box;
    width: 700px;
    border:4px inset rgb(182, 214, 255);
    background-color: rgb(246, 250, 246);
    color: black;
    position: fixed;
    text-align: center;
    top: 5%;
    left: 8%;
    right: 12%;

}

#heading {
    font-family: 'Racing Sans One', cursive;
}

h4 {
    font-family: 'Racing Sans One', cursive;
}

.switch-paddle {
    background-color:rgb(197, 3, 3);
}

#center {
    font-family: 'Special Elite', cursive;
    background-color:white;
    border:4px inset rgb(159, 159, 247);
    position: fixed;
    top:30%;
    left:5%;
    right:10%;
    transform: (-50%,-50%);
    border-radius: 5px;
}

#center2 {
    font-family: 'Special Elite', cursive;
    background-color: white;
    border:4px inset  rgb(159, 159, 247);
    position: fixed;
    top:50%;
    left:5%;
    right:10%;
    transform: (-50%,-50%); 
    border-radius: 5px;
}

#center3 {
    font-family: 'Special Elite', cursive;
    background-color: white;
    border:4px inset  rgb(159, 159, 247);
    position: fixed;
    top:80%;
    left: 5%;
    right:30%;    
    border-radius: 5px;
}

#signin{
    position: fixed;
    width: 275px;
    height: 100px;
    top:82%;
    left:71%;
    border-radius: 45px;
    font-family: 'Special Elite', cursive;
}

#taker-form {
    font-family: 'Special Elite', cursive;
    background-color: white;
    border:4px inset  rgb(159, 159, 247);
    position: relative;
    width: 77%;
    /* top:50%; */
    left:10%;
    transform: (-50%,-50%); 
    border-radius: 5px;
}



