body {
    background-image: url(https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
    font-family: 'Special Elite';
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Special Elite';
}
h1 {
    padding-top: 15px;
    color: white;
}
h5 {
    color:rgb(46,185,94);
}
p {
    padding-left: 30px;
    margin: 5px;
}
button {
    color: white;
}
.footer {
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: rgb(46,185,94);
    border-top: solid 3px rgb(24, 134, 61);    
    color: white;
    position: fixed;
    left:0;
    bottom:0;
    margin-bottom: 0;
    margin-left: 0;
}
.top-bar {
    background-color: rgb(46,185,94);
    font-family: 'Special Elite';
    font-size: 20px;
    height: 60px;
    border-bottom: solid 3px rgb(24, 134, 61);
}
.top-bar-right {
    color: white;
    margin-right: 40px;
    padding-top: 15px;
}
.top-links {
    color: white;
    font-size: 20px;
    padding-top: 40px;
}

.button-home {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 30px;
    background-color: rgb(24, 134, 61);
    color: white;
    height: 40px;
    width: 30px;
    padding-top: 8px;
    border-radius: 3px;
}

#description-main-container {
    border: 2px solid grey;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    overflow: auto;   
}
#jobs-available-outer-container {
    border: 2px solid rgb(24, 134, 61);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 70px;
    
}
#jobs-available-container {
    border: 2px solid rgb(24, 134, 61);
    border-radius: 4px;
    background-color: rgb(46,185,94);
    margin:5px;
    overflow: auto;
}
#job-description-container {
    border: 2px solid rgb(24, 134, 61);
    border-radius: 4px;
    background-color: white;
    margin:30px;
    padding: 20px;
}
#job-description-outer-container {
    border: 2px solid rgb(24, 134, 61);
    border-radius: 4px;
    background-color: rgb(46,185,94);
    margin-bottom: 80px;
    overflow: auto;
    
}
#each-job {
    margin: 20px 30px 10px 30px;
    background-color: white;
}

#claim {
    padding: 4px;
}
#gig-form,
#taker-form {
    background-color: white;
    border: 2px solid rgb(24, 134, 61);
    border-radius: 4px;
    padding-top: 20px; 
    margin-bottom: 70px;
}
#list-o-gigs {
    margin-left: 80px;
}
#post-a-gig {
    margin-left: 30px;
}
#title-name {
    font-size: 30px;
    color: white
}
#submit {
    margin-top: 26px;
    border: solid 2px rgb(24, 134, 61);
}
.gig-name {
    padding:2px;
    color:rgb(46,185,94);
    text-align: center;
}
.gigName {
    text-align: center;
}

#trash{
    margin-top: 27px;
    color: white;
}
#trash:hover {
    color: darkblue;
}






